.arms-info {
  position: absolute;

  right: 10px;
  top: 10px;

  .arms-wrapper {
    width: 45px;
    text-align: center;
    float: left;
    margin-right: 5px;
  }

  .arms-icon {
    display: block;
    line-height: 30px;
    color: #eeeeee;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 1px;
    font-size: 1.8rem;
  }

  .sword .arms-icon {
    background-color: #ff4232;
  }

  .cannon .arms-icon {
    background-color: #04ba37;
  }

  .cavalry .arms-icon {
    background-color: #2364ff;
  }

  .airforce .arms-icon {
    background-color: #d847ff;
  }

  .arms-rank-select {
    display: inline-block;

    img {
      width: 25px;
      height: 25px;
    }

    .airforce-none {
      display: inline-block;
      width: 25px;
      height: 21px;
    }
  }
}

