.player-area {
  float: left;
  width: 50%;
  height: 50%;
  min-width: 400px;

  border: solid 1px #dddddd;
  position: relative;

  .player-badge {
    display: inline-block;
    width: 80px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin: 5px;
  }

  .player-badge.RED {
    background-color: #FF9FAB;
  }

  .player-badge.GREEN {
    background-color: #4ED662;
  }

  .player-badge.BLUE {
    background-color: #6C9FFF;
  }

  .player-badge.YELLOW {
    background-color: #FFFD69;
  }

  .player-badge.PURPLE {
    background-color: #EC9BF1;
  }
}
