.new-game-form {
  margin: 30px 30px 30px 0;

  option[label="RED"] {
    background-color: #FF9FAB;
  }

  option[label="GREEN"] {
    background-color: #4ED662;
  }

  option[label="BLUE"] {
    background-color: #6C9FFF;
  }

  option[label="YELLOW"] {
    background-color: #FFFD69;
  }

  option[label="PURPLE"] {
    background-color: #EC9BF1;
  }
}
