<div ng-controller="TechTreeController as ctrl" class="tech-tree tech-level1-{{player.tech.one.length}}">
  <div ng-repeat="level in ctrl.levels" class="tech-row">
    <ul class="tech-list tech-{{level}}">
      <li ng-repeat="tech in player.tech[level]" class="tech-list-item">
        <a class="remove-icon" ng-click="ctrl.removeTech(level, tech)">
          <span class="glyphicon glyphicon-remove"></span>
        </a>

        <div class="tech-list-item-wrapper">
          <a>{{ctrl.toName(tech)}}</a>
        </div>
      </li>
      <li class="tech-list-item append-tech" ng-if="ctrl.isTechAddable(level)">
        <div class="tech-list-item-wrapper">
          <select name="appendTech"
                  ng-options="tech.id as tech.name for tech in ctrl.remainingTechs(level)"
                  ng-model="selectedTechId"
                  ng-change="ctrl.appendTech(level, selectedTechId); selectedTechId = ''">
            <option value="">----</option>
          </select>
        </div>
      </li>
    </ul>
  </div>
</div>
